body,html{height:100%;padding:0px;margin:0px;background-image:url("../imagenes/fondo4.png");}


.d{background-color:none;height:15%;width:100%;position:fixed;bottom:0px;}
.d img { width:100%;height:100%;z-index: 2;}
.reiniciar{width:100%;height:100%;text-align:center;color: aqua;font-size:xx-large;text-shadow: 2px 2px blue;}
.reanudar{width:100%;height:100%;text-align: center;color:aqua;font-size:xx-large;text-shadow: 2px 2px blue;}
.opciones{width: 100%;height:60%;background:rgba(255,255,255,0.3);color:black;} }
.opciones ul { list-style: none; margin: 0; padding: 0; }
.opciones ul li { padding: 20px 0; }
#gas{width:14%;height:2%;background-color:red;margin-left :2%; border:4px solid brown;position :fixed;}
a {text-decoration:none; color-profile:none;}
#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%;z-index: 1;}
#nave img{height:70%;}
#cpanel{font-size:small;color:aqua;text-shadow:2px 2px blue; font-family: fantasy; }
#cpanel ul {padding-bottom: 3%;}
#showm{width:30%;height:15%;position:fixed;left:0px;}
#hidem{width:7%;height:14%;margin-left:90%;background-color: transparent;}
#hidem img{width:100%;height:100%;}
#Lose{width:50%;height:30%;background:rgba(255,255,255,0.3);color:black; position:absolute; left:30%;display:none;}
#Win{width:50%;height:30%;background:rgba(255,255,255,0.3);color:black; position:absolute; left:30%;display:none;}
